body{
    margin:20px;
}
.header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
    margin: auto;
  justify-content: space-around;
  place-items: center;
}

.menu{
    top: 10px;
    left: 71px;
    padding: 15px;
}



.line{
    background: #333333 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    width: 24px;
    height: 3px;
    margin: 6px;
}

.real{
    font-size: 1.5em;
    font-weight: bold;
    color:red;
    font-family: Impact, Charcoal, sans-serif
}

.headText{
    font: normal normal normal 14px/25px Granstander Clean;
    letter-spacing: 0px;
    color: #333333;
}

.sub{
  place-items: center;
  font:normal normal normal 14px/25px Granstander Clean;
  font-weight: bold;
  font-size:16px;
  place-items: center;
  letter-spacing: 1px;
}

.bttn{
  border: 2px solid black;
  border-radius : 20px;
  width: 120px;
  place-items: center;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  
}

.item {
      order: 1;
      display: block;
      margin-left : 3%;
      place-items: center;
      font-weight: bold;
  }

  .tet-secondary{
      color:#ADBABD;
      font: normal normal medium 15px/28px Montserrat;
        letter-spacing: 0px;
  }

  .tripleft{
    text-align: left;
    font: normal normal medium 35px/43px Montserrat;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    font-size: 28px;
    padding-left:10px;
  }

  .tripleftsub{
    text-align: left;
    font: normal normal medium 35px/43px Montserrat;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    font-size: 18px;
  }

  .tripbtn{
      background: #FDFFD3 0% 0% no-repeat padding-box;
      box-shadow: 1px 1px 0px #00000029;
      border: 1px solid #333333;
      border-radius: 5px;
      top: 148px;
      left: 1115px;
      width: 160px;
      height: 50px;
  }

  .mainBanner{
    background-image: url("file:///home/lalithakunchala/Downloads/Image%2010.png");
    min-height:356px;
    max-width: 100%;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
  }

  .watch{
    top: 566px;
    width: 210px;
    height: 52px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 0px #00000029;
    border-radius: 5px;
    margin-top: 255px;
    float: left;
    color:black;
  }

  /* .arrow{
    background: #333333 0% 0% no-repeat padding-box;
    top: 584px;
    left: 221px;
    width: 15px;
    height: 18px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    border-radius: 100% 100% 0% 0%;
  } */

@media all and (max-width: 890px) {
      .sub{
      display:none;
    }
  
    .dash{
      order:2;
      margin-left:20px;
    }
    .real{
      order:0;
    }
  
    .item{
        order:1;
    }

    .tripleftsub{
        order:0
    }

    .tripleft{
        order:1
    }

    .tripbtn{
        display: none;
    }

    .mainBanner{
        background-image: url("file:///home/lalithakunchala/Downloads/Image%2010.png");
        min-height:356px;
        max-width: 100%;
    }
}


