body{
    margin:20px;
}
.header{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 10px #0000001A;
    margin: auto;
  place-items: center;
}

.menu{
    top: 10px;
    left: 41px;
    padding: 15px;
}



.line{
    background: #333333 0% 0% no-repeat padding-box;
    border-radius: 2px;
    opacity: 1;
    width: 24px;
    height: 3px;
    margin: 6px;
}

.real{
    font-size: 1.5em;
    font-weight: bold;
    color:red;
    font-family: Impact, Charcoal, sans-serif;
    margin-left: 70px;
}

.headText{
    font: normal normal normal 14px/25px Granstander Clean;
    letter-spacing: 0px;
    color: #333333;
}

.sub{
  place-items: center;
  font:normal normal normal 14px/25px Granstander Clean;
  font-weight: bold;
  font-size:14px;
  place-items: center;
}

.bttn{
  border: 2px solid black;
  border-radius : 20px;
  width: 120px;
  place-items: center;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  
}

.item {
      order: 1;
      display: block;
      margin-left : 3%;
      place-items: center;
      font-weight: bold;
  }

  .tet-secondary{
      color:#ADBABD;
      font: normal normal medium 15px/28px Montserrat;
        letter-spacing: 0px;
        font-size: x-small;
  }

  .tripleft{
    text-align: left;
    font: normal normal medium 35px/43px Montserrat;
    letter-spacing: 1px;
    color: #333333;
    font-size: 28px;
    padding-left:10px;
    font-weight: bold;
  }

  .tripleftsub{
    text-align: left;
    font: normal normal medium 35px/43px Montserrat;
    letter-spacing: 1px;
    color: #333333;
    font-size: 16px;
  }

  .tripbtn{
      background: #FDFFD3 0% 0% no-repeat padding-box;
      box-shadow: 1px 1px 0px #00000029;
      border: 1px solid #333333;
      border-radius: 5px;
      top: 148px;
      left: 1115px;
      width: 160px;
      height: 50px;
  }

  .mainBanner{
    background-image: url("https://i.imgur.com/tWBIvMw.png");
    min-height:356px;
    max-width: 100%;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
  }

  .mainNext{
    min-height:356px;
    max-width: 100%;
    font-size: large;
    font-weight: 600;
    border-radius: 5px;
    
  }

  .watch{
    top: 566px;
    width: 210px;
    height: 52px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 0px #00000029;
    border-radius: 5px;
    margin-top: 255px;
    float: left;
    color:black;
  }

  /* .arrow{
    background: #333333 0% 0% no-repeat padding-box;
    top: 584px;
    left: 221px;
    width: 15px;
    height: 18px;
    transform: matrix(0, 1, -1, 0, 0, 0);
    border-radius: 100% 100% 0% 0%;
  } */

  .btns{
    text-align: center;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #515151;
    font-size: small;
    top: 383px;
    left: 830px;
    width: 102px;
    height: 35px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    padding-top: 4px;
  }

  .inrbtn{
    top: 499px;
    left: 830px;
    width: 160px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 0px #0000001A;
    border-radius: 5px;
    font-size: large;

  }

  .smallSize{
    font-size: small;
  }
  .inr{
    color:#6997A1;
    font: normal normal medium 15px/28px Montserrat;
    letter-spacing: 0px;
    font-size: small;
    text-decoration: line-through;
  }

  .bookbtn{
    top: 568px;
    left: 830px;
    width: 350px;
    height: 45px;
    background: #FF3A58 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 0px #0000001A;
    border: 1px solid #FF3A58;
    border-radius: 5px;
    color:white;
    text-align: center;
    font-size: medium;
  }

  .sharebtn{
      text-align: center;
    top: 568px;
    left: 1210px;
    width: 65px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 0px #0000001A;
    border: 1px solid #FF3A58;
    border-radius: 5px;
    font-size: medium;
    color:#FF3A58; 
  }

  .hide{
    text-align: center;
    top: 568px;
    left: 1210px;
    width: 65px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 0px #0000001A;
    border: 1px solid #FF3A58;
    border-radius: 5px;
    font-size: medium;
    color:#FF3A58;
      display: none;
  }

  .bottomtext{
      display: none;
  }

  .autoWidthdiv{
    width: auto;
    top: 895px;
    left: 165px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 0px #0000001A;
    border: 1px solid #CBD8DB;
    padding:5px;
    margin:5px;
  }

  .allRadius{
      border-radius: 30px;
      align-items: center;
    display: flex;
    justify-content: center;

  }

  #innerRadius{
    border-radius: 9999px;
    height: 42px;
    width: 42px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #FFE30D;
  }

  .radius{
      border-radius: 30px 5px 5px 30px;
      align-items: center;
    display: flex;
    justify-content: center;

  }

  .goal{
      background-color: #6188EA;
      font-size: small;
      font-weight: bold;
      width:60px;
      text-align: center;
      border-radius: 35%;
      color:white;
  }

  .white{
      color:white;
  }

  .font24{
      font-size: 24px;
      font-weight: bold;
  }


@media all and (max-width: 950px) {
      .sub{
      display:none;
    }
  
    .dash{
      order:2;
      margin-left:20px;
    }
    .real{
      order:0;
    }
  
    .item{
        order:1;
    }

    .tripleftsub{
        order:0
    }

    .tripleft{
        order:1
    }

    .tripbtn{
        display: none;
    }

    .mainBanner{
        background-image: url("file:///home/lalithakunchala/Downloads/Image%2010.png");
        min-height:356px;
        max-width: 100%;
    }

    .hide{
        display: block;
    }

    .sharebtn{
        display: none;
    }

    .bottomtext{
        display: block;
    }
    
}


